<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="add-new-post">Add new post</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts-approved">Approved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts-published">Published</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts-denied">Denied</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="posts-unapproved">Unapproved</a>
    </li>
</ul>