<div class="modal fade success__modal" id="success__modal" tabindex="-1" role="dialog"
    aria-labelledby="success__modalLabel" aria-hidden="true" style="z-index: 10000;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2 pb-2 pl-3 pr-3">
                <h4 class="modal-title modal-title-custom" id="success__modalLabel">Congratulations</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-custom pt-2 pb-2 pl-3 pr-3" id="success__modalContent">
            </div>
            <div class="modal-footer modal-footer-custom p-2">
                <button type="button" class="btn btn-success" data-dismiss="modal">OKAY</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade errors__modal" id="errors__modal" tabindex="-1" role="dialog"
    aria-labelledby="errors__modalLabel" aria-hidden="true" style="z-index: 10000;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2 pb-2 pl-3 pr-3">
                <h4 class="modal-title modal-title-custom" id="errors__modalLabel">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-custom pt-2 pb-2 pl-3 pr-3" id="errors__modalContent">
            </div>
            <div class="modal-footer modal-footer-custom p-2">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>