<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
      <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
        <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
          <div class="d-table m-auto">
            <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="../img/icons/logo.png" alt="Shards Dashboard">
            <span class="d-none d-md-inline ml-1">Dashboard</span>
          </div>
        </a>
        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
          <i class="material-icons">&#xE5C4;</i>
        </a>
      </nav>
    </div>
    
    <div class="nav-wrapper">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="add-new-post.html">
            <i class="material-icons">note_add</i>
            <span>Add New Post</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="post-approved.html">
            <i class="material-icons">flag</i>
            <span>Approved</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="publish-post.html">
            <i class="material-icons">vertical_split</i>
            <span>Published</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " href="denied-post.html">
            <i class="material-icons">view_module</i>
            <span>Denied</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="blog-posts.html">
            <i class="material-icons">table_chart</i>
            <span>Unapproved</span>
          </a>
        </li>
       
      </ul>
    </div>
  </aside>