<div class="container-sign row m-0">
    <div class="col-xl-4 col-lg-3 col-md-2 col-sm-1 col-0 p-0 m-0 blank-col-nav">
    </div>
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 p-0 m-0 pt-2 pr-2 pl-2 p-lg-0">
        <div class="title-page-sign">
            <p class="text-uppercase text-center">the big wind</p>
        </div>
        <div class="sign-up_sign-in">
            <ul class="nav nav-tabs d-flex justify-content-center" id="myTabSign" role="tablist">
                <li class="nav-item">
                    <a href="#login" class="nav-link active text-uppercase" id="login-tab" data-toggle="tab" role="tab"
                        aria-controls="login" aria-selected="true">Log In</a>
                </li>
                <li class="nav-item">
                    <a href="#signup" class="nav-link text-uppercase" id="signup-tab" data-toggle="tab" role="tab"
                        aria-controls="signup" aria-selected="true">Sign Up</a>
                </li>
            </ul>
            <br>
            <div class="tab-content">
                <div id="login" class="tab-pane fade show active">
                    <ul class="sign-social list-style-none row m-0 p-0 justify-content-center d-flex">
                        <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                        <li><a href="#"><i class="fa fa-google-plus"></i> </a> </li>
                    </ul>
                    <form class="pt-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="InputEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                        </div>
                        <div class="row m-0 justify-content-between align-items-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check-remember">
                                <label class="custom-control-label" for="check-remember">Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-custom">LOG IN</button>
                        </div>
                    </form>
                    <div class="forgot"><a href="">Forgot your username?</a><a href="">Forgot your password?</a>
                    </div>
                </div>
                <div id="signup" class="tab-pane fade">
                    <ul class="sign-social list-style-none row m-0 p-0 justify-content-center d-flex">
                        <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                        <li><a href="#"><i class="fa fa-google-plus"></i> </a> </li>
                    </ul>
                    <form class="pt-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="InputFullname" placeholder="Fullname">

                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="ReInputPassword"
                                placeholder="Retype password">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="InputEmail" placeholder="Email">
                        </div>
                        <div class="row m-0 justify-content-end align-items-center">
                            <button type="submit" class="btn btn-custom">SIGN UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-2 col-sm-1 col-0 p-0 m-0 blank-col-nav">
    </div>
</div>