<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <header class="header fixed-top">
        <% include partials/header %>
    </header>
    <div class="space-blank"></div>

    <%- include(layout) %>

    <br>
    <footer class="footer text-center">
        <% include partials/footer %>
    </footer>
    <%- include('partials/scripts') %>
</body>

</html>