<div class="container-information row m-0 p-2 p-xl-0">
        <div class="col-xl-2 col-0 p-0 m-0 blank-col-container">
        </div>
        <div class="main-container-information row m-0 col-xl-8 col-12 p-0">
            <ul id="clothing-nav" class="nav nav-tabs  col-md-3 p-0" role="tablist">
                <div class="img-avatar col-12 d-flex justify-content-center align-items-center pt-4 pb-4"><img class=""
                        src="/images/avatars/0.jpg" alt=""></div>
                <li class="nav-item col-4 col-md-12 pl-0 pr-0 m-0">
                    <a class="nav-link active d-flex align-items-center pt-3 pb-3 pl-3 pr-1" href="#home" id="home-tab"
                        role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><i
                            class="fa fa-user"></i><span>Account overview</span></a>
                </li>
                <li class="nav-item col-4 col-md-12 pl-0 pr-0 m-0">
                    <a class="nav-link d-flex align-items-center pt-3 pb-3 pl-3 pr-1 m-0" href="#edit_profile"
                        role="tab" id="edit_profile-tab" data-toggle="tab" aria-controls="edit_profile"><i
                            class="fa fa-pencil"></i><span>Edit profile</span></a>
                </li>
                <li class="nav-item col-4 col-md-12 pl-0 pr-0 m-0">
                    <a class="nav-link d-flex align-items-center pt-3 pb-3 pl-3 pr-1" href="#receipts" role="tab"
                        id="receipts-tab" data-toggle="tab" aria-controls="receipts"><i
                            class="fa fa-clock-o"></i><span>Receipts</span></a>
                </li>
                <li class="nav-item col-md-12 pl-0 pr-0 m-0">

                </li>
            </ul>
            <div id="clothing-nav-content" class="tab-content  col-md-9 p-4">
                <div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">
                    <div class="title-tab">
                        <p class="m-0">Account overview</p>
                    </div>
                    <br>
                    <div class="row m-0">
                        <div class="p-0 pr-md-2 col-md-7 ">
                            <div class="profile p-4">
                                <div class="title-profile">
                                    <p class="m-0 pb-2">Profile</p>
                                </div>
                                <div class="content-profile">
                                    <div class="full-name">
                                        <label class="m-0">Name</label>
                                        <p class="content-name">Leo Nguyen</p>
                                    </div>
                                    <div class="email">
                                        <label class="m-0">Email</label>
                                        <p class="content-email">1612556@student.hcmus.edu.vn</p>
                                    </div>
                                    <div class="gender">
                                        <label class="m-0">Gender</label>
                                        <p class="content-gender">Male</p>
                                    </div>
                                    <div class="gender">
                                        <label class="m-0">Date of birth</label>
                                        <p class="content-dob">8/16/1998</p>
                                    </div>
                                </div>
                                <br>
                                <div class="text-center">
                                    <div class="btn text-uppercase btn-edit-profile">Edit profile</div>
                                </div>
                            </div>
                        </div>
                        <div class="blank-row"></div>
                        <div class="pl-md-2 p-0 col-md-5">
                            <div class="status-account p-4">
                                <div class="title-stt-account pt-2 pb-2">
                                    <p class="m-0 text-center">TBW Free</p>
                                </div>
                                <div class="content-stt-account pt-2">
                                    <p class="m-0 text-center pt-3 pb-3">You're currently TBW Free. We have an even better service called TBW Premium. It lets you listen ad-free, on-demand and offline.</p>
                                </div>
                                <br>
                                <div class="text-center">
                                    <div class="btn text-uppercase btn-subscribe-premium">subscribe</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="edit_profile" aria-labelledby="hats-tab">
                    <div class="title-tab">
                        <p class="m-0">Edit profile</p>
                    </div>
                    <br>
                    <form class="p-4">
                        <div class="form-group">
                            <div class="img-avatar d-flex justify-content-center">
                                <img id="profile-change" src="/images/avatars/0.jpg" alt="">
                                <label class="btn btn-change-avatar" for="pic-avatar"><i
                                        class="fa fa-camera"></i></label>
                                <input type="file" id="pic-avatar" name="pic" accept="image/*">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="m-0">Name</label>
                            <input type="text" class="form-control" id="InputUsername" placeholder="Leo Nguyen">
                        </div>
                        <div class="form-group">
                            <label class="m-0">Gender</label>
                            <select class="custom-select select-gender">
                                <option selected value="1">Male</option>
                                <option value="2">Female</option>
                            </select></div>
                        <div class="form-group">
                            <label for="birthday" class="m-0">Date of birth</label>
                            <div class="d-flex select-birthday">
                                <input id="birthday-input" type="text" class="input-sm form-control" name="birthday"
                                    placeholder="8/16/98">
                                    <span class="">
                                        <span class="">
                                            <i class="fa fa-calendar"></i> </span>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="m-0">Password</label>
                            <input type="password" class="form-control" id="InputPassword" placeholder="Old password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="InputPassword" placeholder="New password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="InputRePassword"
                                placeholder="Retype new password">
                        </div>
                        <div class="form-group">
                            <label class="m-0">Email</label>
                            <input type="email" class="form-control" id="InputEmail"
                                placeholder="1612556@student.hcmus.edu.vn">
                        </div>
                        <div class="row m-0 btns-done-edit justify-content-end align-items-center">
                            <div class="pr-2">
                                <button type="submit" class="btn btn-cancel">CANCEL</button>
                            </div>
                            <div class="pl-2">
                                <button type="submit" class="btn btn-success">SAVE PROFILE</button></div>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="receipts" aria-labelledby="hats-tab">
                    <div class="title-tab">
                        <p class="m-0">Receipts</p>
                    </div>
                    <br>
                    <div class="content-receipts pl-3 pr-3 pt-3 pb-5">
                        <table class="list-receipts">
                            <thead>
                                <tr>
                                    <th>DATE</th>
                                    <th>EXP DATE</th>
                                    <th>REFERENCE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>4/29/19</td>
                                    <td>6/5/19</td>
                                    <td>1071957394562105-1</td>
                                </tr>
                                <tr>
                                    <td>11/19/18</td>
                                    <td>11/26/18</td>
                                    <td>998686695562108-1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-0 p-0 m-0 blank-col-container"></div>
    </div>