<a id="scroll-top"><button><i class="fa fa-angle-up font-weight-bold"></i> </button></a>
<img src="/images/icons/logo.png" alt="logo">
<p class="copyright m-0">&copy; 2019 <strong>The Big Wind</strong>, All Rights Reserved</p>
<div class="contact-fb">
    <a href="https://www.facebook.com/leooonguyen" target="_blank">Leo Nguyen</a>
    <a href="https://www.facebook.com/vinh.phat69" target="_blank">Phat Dang</a>
    <a href="https://www.facebook.com/phongkenvil" target="_blank">Phong Kenvil</a>
</div>