<nav class="navbar-custom bg-dark p-0 m-0">
   <div class="col-12 navbar-collapse-custom d-flex m-0 p-0">
      <div class="col-xl-2 col-0 p-0 m-0 blank-col-nav">
      </div>
      <div class="content-nav col-xl-8 col-12 m-0 p-0 d-flex">
         <input type="checkbox" id="btn-hamburger">
         <label for="btn-hamburger" class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
         </label>
         <div class="logo d-flex align-items-center m-0"> <a href="home"><img class=""
                  src="/images/icons/logo.png" alt=""></a></div>
         <ul class="w-100 navbar-nav-custom p-0 m-0 d-flex justify-content-lg-between">
            <div class="list-nav-links">
               <div class="blank">

               </div>
               <div class="list-child-nav-links">
                  <li class="child-nav-links" value=1 checkOpen="false">
                     <a
                        class="nav-link-custom text-uppercase d-flex justify-content-between align-items-center font-weight-bold p-0">tech&nbsp;&nbsp;<i
                           class="fa fa-caret-down"></i></a>
                     <ul class="dropdown-menu-custom p-0">
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center"
                              href="category">Apple</i></a>
                        </li>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center"
                              href="category">Samsung</i></a>
                        </li>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center"
                              href="category">Google</a>
                        </li>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center"
                              href="category">Microsoft</a>
                        </li>
                        <li>
                           <a class="text-uppercase d-flex align-content-center align-items-center"
                              href="category"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;All Techs</a>
                        </li>
                     </ul>
                  </li>
                  <li class="child-nav-links" value=2 checkOpen="false">
                     <a
                        class="nav-link-custom text-uppercase d-flex justify-content-between align-items-center font-weight-bold p-0">reviews&nbsp;&nbsp;<i
                           class="fa fa-caret-down"></i></a>
                     <ul class="dropdown-menu-custom p-0">
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center "
                              href="category">Phones</i></a>
                        </li>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center "
                              href="category">Laptops</i></a>
                        </li>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center "
                              href="category">Tablets</a>
                        </li>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center "
                              href="category">Accessories</a>
                        </li>
                        <li>
                           <a class="text-uppercase d-flex align-content-center align-items-center"
                              href="category"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;All Reviews</a>
                        </li>
                     </ul>
                  </li>
                  <li class="child-nav-links" value=3 checkOpen="false">
                     <a
                        class="nav-link-custom text-uppercase d-flex justify-content-between align-items-center font-weight-bold p-0">science&nbsp;&nbsp;<i
                           class="fa fa-caret-down"></i></a>
                     <ul class="dropdown-menu-custom p-0">
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center "
                              href="category">Space</i></a>
                        </li>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center "
                              href="category">Energy</i></a>
                        </li>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center "
                              href="category">Environment</a>
                        </li>
                        <li>
                           <a class="text-uppercase d-flex align-content-center align-items-center"
                              href="category"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;All Sciences</a>
                        </li>
                     </ul>
                  </li>
                  <li class="child-nav-links" value=4 checkOpen="false">
                     <a
                        class="nav-link-custom text-uppercase d-flex justify-content-between align-items-center font-weight-bold p-0">creators&nbsp;&nbsp;<i
                           class="fa fa-caret-down"></i></a>
                     <ul class="dropdown-menu-custom p-0">
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center"
                              href="category">Instagram</i></a>
                        </li>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center "
                              href="category">Youtube</i></a>
                        </li>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center "
                              href="category">Adobe</a>
                        </li>
                        <li>
                           <a class="d-flex justify-content-between align-content-center align-items-center "
                              href="category">Photography</a>
                        </li>
                        <li>
                           <a class="text-uppercase d-flex align-content-center align-items-center"
                              href="category"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;All Creators</a>
                        </li>
                     </ul>
                  </li>
                  <li class="child-nav-links" value=5 checkOpen="false">
                     <a class="nav-link-custom text-uppercase d-flex justify-content-between align-items-center font-weight-bold p-0"
                        href="category">features</i></a>
                  </li>
               </div>
            </div>
            <div class="control-nav d-flex align-items-center">
               <div class="search" id='btn-open-searchBox' checkOpen="false">
                  <div class="line-x"></div>
                  <i class="fa fa-search"></i>
               </div>
               <div class="sign" id="btn-open-informationUser" checkOpen="false"><img class=""
                     src="/images/avatars/0.jpg" alt=""></div>
            </div>
         </ul>
         <div class="information-user">
            <div class="control-information-user m-0 row">
               <div class="avatar-user"><img src="/images/avatars/0.jpg" alt=""></div>
               <div class="status-user">
                  <p class="full-name font-weight-bold m-0">Leo Nguyen</p>
                  <span class="badge badge-custom-premium">Premium</span>
               </div>

               <div class="control w-100 row">
                  <a href="/information">Account</a>
                  <a href="" id="log-out">Log Out</a>
               </div>
               <div class="top-5-recent-news">
                  <div class="title text-uppercase">top 5 recently news</div>
                  <div class="list-5-recent-news">
                     <a href="detail" class="recent-news">
                        <div class="d-flex m-0 backgorund-recent-news">
                           <div class="avatar-news"><img src="/images/products/recent1.jpg" alt="">
                           </div>
                           <div class="title-news">
                              <p class="m-0">Apple’s latest iPad Pros are cheaper than ever at Amazon
                                 and Best Buy</p>
                           </div>
                        </div>
                     </a>
                     <a href="detail" class="recent-news">
                        <div class="d-flex m-0 backgorund-recent-news">
                           <div class="avatar-news"><img src="/images/products/recent2.jpg" alt="">
                           </div>
                           <div class="title-news">
                              <p class="m-0">Microsoft unveils disc-less Xbox One S All-Digital
                                 Edition for $249</p>
                           </div>
                        </div>
                     </a>
                     <a href="detail" class="recent-news">
                        <div class="d-flex m-0 backgorund-recent-news">
                           <div class="avatar-news"><img src="/images/products/recent3.jpg" alt="">
                           </div>
                           <div class="title-news">
                              <p class="m-0">Apple adds extra step to App Store subscriptions to
                                 prevent scams and accidental purchases</p>
                           </div>
                        </div>
                     </a>
                     <a href="detail" class="recent-news">
                        <div class="d-flex m-0 backgorund-recent-news">
                           <div class="avatar-news"><img src="/images/products/recent4.jpg" alt="">
                           </div>
                           <div class="title-news">
                              <p class="m-0">Fujifilm X-T30 review: a little wonder of a camera</p>
                           </div>
                        </div>
                     </a>
                     <a href="detail" class="recent-news">
                        <div class="d-flex m-0 backgorund-recent-news">
                           <div class="avatar-news"><img src="/images/products/recent5.jpg" alt="">
                           </div>
                           <div class="title-news">
                              <p class="m-0">Kinetic sculptures and sound circuits: building
                                 solar-powered art at Pioneer Works</p>
                           </div>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="top-5-product-seen"></div>
         </div>
      </div>
      <div class="col-xl-2 col-0 p-0 m-0 blank-col-nav"></div>
   </div>
</nav>
<br>
<form class="search-bar w-75 d-flex m-auto">
   <input type="text" placeholder="Search" class="">
   <button type="submit" class="fa fa-search"></button>
</form>