body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header .navbar-custom .logo {
    background: #343A40;
    padding: 0.45rem 1rem;
    transition: background .5s;
}

header .navbar-custom .logo img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header .navbar-custom .logo img:hover {
    opacity: .8;
}

nav.navbar-custom {
    padding: 0;
    z-index: 3;
    margin: 0;
    box-shadow: -1px 3px 7px -2px #343A40;
}

nav div.navbar-collapse-custom ul {
    list-style: none;
    position: relative;
    float: left;
    cursor: pointer;
}

nav .navbar-collapse-custom .blank-col {
    background: #343A40;
    height: 46px;
}

nav div.navbar-collapse-custom ul li {
    position: relative;
    float: left;
    margin: 0;
    border: 0;
    transition: background .5s;
}

nav .nav-link-custom {
    color: #fff !important;
}

nav div.navbar-collapse-custom ul li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 0.75rem 1rem !important;
    font-size: 14px;
}

nav div.navbar-collapse-custom ul ul {
    visibility: hidden;
    opacity: 0;
    display: block;
    position: absolute;
    padding: 0;
    border: 0;
    border-radius: 0;
    margin: 0;
    width: 150px;
    box-shadow: 0 7px 10px -2px #343A40;
    background: #23272b;
    transition: all .5s;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

nav div.navbar-collapse-custom ul ul li {
    float: none;
}

nav div.navbar-collapse-custom ul ul ul {
    top: 0%;
    left: 100%;
}

nav div.navbar-collapse-custom ul li:hover {
    background: #23272b;
}

nav div.navbar-collapse-custom ul li a i {
    color: #dd3333;
    transition: color .5s;
}

nav div.navbar-collapse-custom ul li:hover a>i {
    color: #fff;
}

nav div.navbar-collapse-custom ul li:hover>ul {
    visibility: visible;
    opacity: 1;
}

nav div.navbar-collapse-custom ul.dropdown-menu-custom li>a {
    font-size: 12px;
    color: #fff;
    padding: 0.5rem .75rem !important;
}

nav div.navbar-collapse-custom ul.dropdown-menu-custom li>a:link {
    background: #23272b;
}

nav div.navbar-collapse-custom ul.dropdown-menu-custom li>a:visited {
    background: #23272b;
}

nav div.navbar-collapse-custom ul.dropdown-menu-custom li:hover>a {
    background: #23272b;
    opacity: .8;
}

nav div.navbar-collapse-custom ul.dropdown-menu-custom li:last-child {
    border-top: 1px solid #cccccc;
}

nav div.navbar-collapse-custom .control-nav {
    padding-right: 15px;
}

nav div.navbar-collapse-custom .control-nav .search i {
    color: #fff !important;
    font-size: 20px;
    padding: 5px 15px;
    transition: color .25s;
}

nav div.navbar-collapse-custom .control-nav .search:hover i {
    color: #25AEE4 !important;
}

nav div.navbar-collapse-custom .control-nav .sign {
    border: 2px solid #cccccc;
    border-radius: 50%;
}

nav div.navbar-collapse-custom .control-nav .sign img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: opacity .3s;
}

nav div.navbar-collapse-custom .control-nav .sign:hover img {
    opacity: .75;
}

nav div.navbar-collapse-custom .hamburger {
    padding: 0 0 0 12px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 5;
    transform: translate(0, -50%);
    display: none;
}

nav div.navbar-collapse-custom .hamburger div {
    border-radius: 1.5px;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition: transform .5s;
}

div.modal-custom {
    display: none;
    background-color: rgba(0, 0, 0, .5);
}

#btn-hamburger {
    display: none;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

nav div.navbar-collapse-custom ul ul.dropdown-menu-custom li:last-child>a {
    color: #dd3333;
    transition: all 0s !important;
}

nav div.navbar-collapse-custom ul.dropdown-menu-custom li:last-child:hover>a {
    color: #fff;
}

.list-nav-links .blank {
    display: none;
    z-index: 4;
    height: 46px;
    width: 250px;
    background: #23272b;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    height: 200vh;
}

footer {
    padding: 35px 0;
    color: #888888;
    font-size: 12px;
    background: #f7f7f7;
}

footer img {
    width: 45px;
    height: 45px;
}

footer p.copyright {
    line-height: 30px;
}

footer .contact-fb a {
    padding: 0 4px;
    color: #666666;
    text-decoration-color: transparent;
    transition: text-decoration-color .5s, color .5s;
}

footer .contact-fb a:nth-child(2) {
    padding: 0 7px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

footer .contact-fb a:hover {
    text-decoration: underline;
    text-decoration-color: #000;
    color: #000;
}

#scroll-top {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 0;
    margin: 0;
    text-decoration: none;
    z-index: 10;
}

#scroll-top button {
    width: 40px;
    height: 45px;
    cursor: pointer;
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #343A40;
    color: #fff;
    box-shadow: 0 0 1px #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#scroll-top button:hover {
    background-color: #23272b;
}

/*::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {}*/

@media screen and (max-width: 993px) {
    ::-webkit-scrollbar {
        width: 0px;
    }
    .list-nav-links .blank {
        display: block;
    }
    .navbar-custom {
        position: relative;
    }
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
    .hamburger {
        display: block !important;
    }
    nav div.navbar-collapse-custom ul li a i {
        font-size: 20px;
        transition: all .5s;
    }
    .list-nav-links {
        z-index: 4;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .25);
        height: 100vh;
        transform: translateX(-100%);
        transition: all .75s;
    }
    .list-nav-links .list-child-nav-links {
        padding-top: 46px;
        box-shadow: 1px -1px 5px 0px #343A40;
        width: 250px;
        background: #23272b;
        height: calc(100vh + 1px);
        overflow-y: scroll;
        overflow-x: none;
    }
    .list-nav-links li.child-nav-links {
        width: 100%;
    }
    #btn-hamburger:checked~.navbar-nav-custom .list-nav-links {
        transform: translateX(0%);
    }
    nav div.navbar-collapse-custom ul.navbar-nav-custom {
        justify-content: flex-end !important;
    }
    nav div.navbar-collapse-custom ul ul {
        position: static;
        display: none;
        box-shadow: none;
        width: 250px;
        opacity: 1;
        visibility: visible;
    }
    nav div.navbar-collapse-custom ul li:hover>ul {
        display: none;
    }
    nav div.navbar-collapse-custom ul.dropdown-menu-custom li>a {
        padding-left: 1.5rem !important;
    }
    nav div.navbar-collapse-custom ul.dropdown-menu-custom li:last-child {
        border-top: 0px;
    }
    nav div.navbar-collapse-custom ul.dropdown-menu-custom li:last-child:hover>a {
        color: #dd3333;
    }
    nav div.navbar-collapse-custom ul li:hover a>i {
        color: #dd3333;
    }
    nav div.navbar-collapse-custom ul ul {
        transition: all 0s;
    }
}