<div class="modal fade auth-success__modal" id="auth-success__modal" tabindex="-1" role="dialog"
    aria-labelledby="auth-success__modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2 pb-2 pl-3 pr-3">
                <h4 class="modal-title modal-title-custom" id="auth-success__modalLabel">Congratulations</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-custom pt-2 pb-2 pl-3 pr-3" id="auth-success__modalContent">
            </div>
            <div class="modal-footer modal-footer-custom p-2">
                <button type="button" class="btn btn-success" data-dismiss="modal">OKAY</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade auth-errors__modal" id="auth-errors__modal" tabindex="-1" role="dialog"
    aria-labelledby="auth-errors__modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2 pb-2 pl-3 pr-3">
                <h4 class="modal-title modal-title-custom" id="auth-errors__modalLabel">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-custom pt-2 pb-2 pl-3 pr-3" id="auth-errors__modalContent">
            </div>
            <div class="modal-footer modal-footer-custom p-2">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>