<div class="col-lg-6 col-sm-12 mb-4">
    <div class="card card-small card-post card-post--aside card-post--1">
      <div class="card-post__image" style="background-image: url('/images/writer/5.jpeg');">
        <a href="#" class="card-post__category badge badge-pill badge-info">Travel</a>
        
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-fiord-blue" href="#">Attention he extremity unwilling on otherwise cars backwards yet</a>
        </h5>
        <p class="card-text d-inline-block mb-3">Conviction up partiality as delightful is discovered. Yet jennings resolved disposed exertion you off. Left did fond drew fat head poor jet pan flying over...</p>
        <span class="text-muted">29 February 2019</span>
        <div class="btnControlPost">
          <button class="btn btn-sm btn-accent ml-auto btnControl btnApproved">Approved</button>

          <button type="button" class="btn btn-primary btnControl btnDenied" data-toggle="modal" data-target="#myModal">Denied</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12 mb-4">
    <div class="card card-small card-post card-post--aside card-post--1">
      <div class="card-post__image" style="background-image: url('/images/writer/6.jpeg');">
        <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a>
        
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-fiord-blue" href="#">Totally words widow one downs few age every seven if miss part by fact</a>
        </h5>
        <p class="card-text d-inline-block mb-3">Discovered had get considered projection who favourable. Necessary up knowledge it tolerably...</p>
        <span class="text-muted">29 February 2019</span>
        
        <div class="btnControlPost">
           <button class="btn btn-sm btn-accent ml-auto btnControl btnApproved">Approved</button>

          <button type="button" class="btn btn-primary btnControl btnDenied" data-toggle="modal" data-target="#myModal">Denied</button>
        </div>
        
      </div>
    </div>
  </div>