<div class="col-lg-3 col-md-6 col-sm-12 mb-4">
        <div class="card card-small card-post card-post--1">
          <div class="card-post__image" style="background-image: url('/images/writer/1.jpeg');">
            <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a>
      
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <a class="text-fiord-blue" href="#">Conduct at an replied removal an amongst</a>
            </h5>
            <p class="card-text d-inline-block mb-3">However venture pursuit he am mr cordial. Forming musical am hearing
              studied be luckily. But in for determine what would see...</p>
            <span class="text-muted">28 February 2019</span>
            <div class="post-actions w-75 mx-auto mt-3">
              <button class="btn btn-accent w-100">View Reason</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--1">
              <div class="card-post__image" style="background-image: url('/images/writer/1.jpeg');">
                <a href="#" class="card-post__category badge badge-pill badge-dark">Business</a>
          
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <a class="text-fiord-blue" href="#">Conduct at an replied removal an amongst</a>
                </h5>
                <p class="card-text d-inline-block mb-3">However venture pursuit he am mr cordial. Forming musical am hearing
                  studied be luckily. But in for determine what would see...</p>
                <span class="text-muted">28 February 2019</span>
                <div class="post-actions w-75 mx-auto mt-3">
                  <button class="btn btn-accent w-100">View Reason</button>
                </div>
              </div>
            </div>
          </div>

<!-- <div class="container">
                    <button type="button" class="btn btn-sm btn-accent ml-auto btnControl btnDenied" data-toggle="modal"
                        data-target="#myModal1">
                        Denied
                    </button>
                    <div class="modal fade " id="myModal1">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title">Denied!!!</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    Căn lề không chính xác
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->