body {
	margin: 0 auto;
}

.layout_content {
	display: flex;
	padding: 80px 30px 30px 30px;
    
}

.post_editor {
	width: 1000px;
	padding: 50px;
	border: 2px solid rgba(0, 0, 0, .05);
}

.sidebar_editor {
	width: 200px;
	align-items: flex-end;
	border: 10px;
	padding: 20px;
	border: 2px solid rgba(0, 0, 0, .05);
}

.post_editor div{
	margin-bottom: 15px;
}

.post_editor_title textarea{
	height: 30px;
	width: 100%;
}