<div class="container-sign row m-0">
    <div class="col-xl-4 col-lg-3 col-md-2 col-sm-1 col-0 p-0 m-0 blank-col-nav">
    </div>
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 p-0 m-0 pt-2 pr-2 pl-2 p-lg-0">
        <div class="title-page-sign">
            <p class="text-uppercase text-center" id="title-page-sign">the big wind</p>
        </div>
        <div class="sign-up_sign-in">
            <ul class="nav nav-tabs d-flex justify-content-center" id="myTabSign" role="tablist">
                <li class="nav-item">
                    <a href="#login" class="nav-link active text-uppercase" id="login-tab" data-toggle="tab" role="tab"
                        aria-controls="login" aria-selected="true">Log In</a>
                </li>
                <li class="nav-item">
                    <a href="#signup" class="nav-link text-uppercase" id="signup-tab" data-toggle="tab" role="tab"
                        aria-controls="signup" aria-selected="true">Sign Up</a>
                </li>
            </ul>
            <br>
            <div class="tab-content">
                <div id="login" class="tab-pane fade show active">
                    <ul class="sign-social list-style-none row m-0 p-0 justify-content-center d-flex">
                        <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                        <li><a href="#"><i class="fa fa-google-plus"></i> </a> </li>
                    </ul>
                    <form class="pt-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="signin__usernameOrEmail"
                                placeholder="Username or Email">
                            <span class="field-validation-error" id="signin__usernameOrEmail-errmsg"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="signin__password" placeholder="Password">
                            <span class="field-validation-error" id="signin__password-errmsg"></span>
                        </div>
                        <div class="row m-0 justify-content-between align-items-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="signin__remember">
                                <label class="custom-control-label" for="signin__remember">Remember me</label>
                            </div>
                            <button type="submit" id="signin__btn" class="btn btn-custom">LOG IN</button>
                        </div>
                    </form>
                    <div class="forgot"><a href="/auth/forgotten-password">Forgotten password?</a>
                    </div>
                </div>
                <div id="signup" class="tab-pane fade">
                    <ul class="sign-social list-style-none row m-0 p-0 justify-content-center d-flex">
                        <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                        <li><a href="#"><i class="fa fa-google-plus"></i> </a> </li>
                    </ul>
                    <form class="pt-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="signup__fullname" placeholder="Full name">
                            <span class="field-validation-error" id="signup__fullname-errmsg"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="signup__username" placeholder="Username">
                            <span class="field-validation-error" id="signup__username-errmsg"></span>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="signup__email" placeholder="Email">
                            <span class="field-validation-error" id="signup__email-errmsg"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="signup__password" placeholder="Password">
                            <span class="field-validation-error" id="signup__password-errmsg"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="signup__pwdRepeat"
                                placeholder="Retype password">
                            <span class="field-validation-error" id="signup__pwdRepeat-errmsg"></span>
                        </div>
                        <div class="row m-0 justify-content-end align-items-center">
                            <button type="submit" id="signup__btn" class="btn btn-custom">SIGN UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="activation" style="display: none;">
            <form class="emailActivation" id="emailActivation" style="display: none;">
                <div class="content p-3">
                    <div class="title font-weight-bold">Find Your Account</div>
                    <div class="warning pt-2">Please enter your email address to search for your account.</div>
                    <div class="reset_pwd pt-3">
                        <input type="text" class="form-control" id="emailActivation__input" placeholder="Email address"
                            name="code_Check">
                    </div>
                </div>
                <div class="control pl-3 pr-3 pb-2 row m-0 justify-content-end">
                    <div class="btns-done-reset row m-0 justify-content-end align-items-center">
                        <div class="pr-2">
                            <a href="/auth">
                                <button type="button" class="btn btn-cancel"
                                    id="emailActivation__btnCancel">Cancel</button></a>
                        </div>
                        <div class="pl-2">
                            <button type="submit" class="btn btn-success" id="emailActivation__btn">Continue</button>
                        </div>
                    </div>
                </div>
            </form>

            <form class="codeActivation" id="codeActivation" style="display: none;">
                <div class="content p-3">
                    <div class="title font-weight-bold">Enter Security Code</div>
                    <div class="warning pt-2">Please check your email for a text message with your code. Your code is
                        6 characters in length.</div>
                    <span class="notice row m-0"><strong>We send your code to: </strong>&nbsp;<p class="email m-0"
                            id="emailActivation__text"></p></span>
                    <div class="reset_pwd pt-3">
                        <input type="text" class="form-control" id="codeActivation__input" placeholder="Enter code"
                            name="code_Check">
                    </div>
                </div>
                <div class="control pl-3 pr-3 pb-2 row m-0 justify-content-between">
                    <div class="error_noCode d-flex align-items-center">
                        <a href="">Didn't get a code</a>
                    </div>
                    <div class="btns-done-reset row m-0 justify-content-end align-items-center">
                        <div class="pr-2">
                            <a href="/auth">
                                <button type="button" class="btn btn-cancel"
                                    id="codeActivation__btnCancel">Cancel</button></a>
                        </div>
                        <div class="pl-2">
                            <button type="submit" class="btn btn-success" id="codeActivation__btn">Continue</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-2 col-sm-1 col-0 p-0 m-0 blank-col-nav">
    </div>
</div>